<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <link rel="stylesheet" href="/css/style.css">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    </head>
    <body>
        <header id="body-header">
            <h1>TODO App</h1>
        </header>
        <hr>
        <section id="description">
            <h3>DESCRIPTION</h3>
            <input type="text" placeholder="What do you need to do?">
        </section>
        <hr>
        <div id="multisection-container">
            <section id="category">
                <h3>CATEGORY</h3>
                <span>Choose a category</span>
                <i class="fas fa-sort-down" id="drop-down-button"></i>
            </section>
            <section id="due-date">
                <h3>DUE DATE</h3>    
                <input type="date" placeholder="dd/mm/yyyy">
            </section>
        </div>
        <hr>
        <div id="buttons-container">
            <button type="submit" id="add-task-button"> 
                <i class="fas fa-plus"></i>
                ADD TASK
            </button>
            <button type="submit" id="delete-task-button">
                <i class="fas fa-trash-alt"></i>
                DELETE TASKS
            </button>

        </div>
        <div id="cards-container">

        </div>
    </body>
</html>