body{
    width: 50%;
    position: relative;
    left: 25%;
}
h3{
    color: gray;
    font-family: sans-serif;
    font-size: 0.9rem;
    margin: 0.25rem 0rem;
}
hr{
    margin: 0.25rem;
}
#body-header{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: gray;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}
#description{
    padding: 0.3rem;
    border-top: 1.5px solid lightgray;
}
#description:hover{
    background-color: lightgray;
    cursor: pointer;
}
#description input{
    font-size: 1.1rem;
    width: 90%;
    padding: 0.4rem;
    border: none;
    background-color: transparent;
}
#multisection-container{
    display: flex;
    justify-content: space-between;
    border-top: 1.5px solid lightgray;
    border-bottom: 1.5px solid lightgray;
}
#category{
    font-family: sans-serif;
    color: dimgray;
    font-size: 1rem;
    font-weight: bold;
    width: 53%;
    border-right: 0.1rem solid lightgray;
    padding: 0.5rem;
}
#category:hover{
    background-color: lightgray;
    cursor: pointer;
}
#drop-down-button{
    font-size: 1.2rem;
    position: relative;
    left: 40%;
}
#due-date{
    width: 47%;
    padding: 0.5rem 0.3rem 0.5rem 2.5rem;
}
#due-date:hover{
    background-color: lightgray;
    cursor: pointer;
}
#due-date input{
    border: none;
    font-family: sans-serif;
    color: dimgray;
    background-color: transparent;
}
#add-task-button{
    height: 3.1rem;
    width: 10rem;
    margin: 2rem;
    position: relative ;
    left: 25%;
    border: none;
    background-color: #444444;
    border-radius: 0.15rem;
    color: white;
    font-size: 1rem;
}
#add-task-button:hover{
    cursor: pointer;
    transform: scale(1.01);
    border: 1px solid gray;
    box-shadow: 0px 0px 3px 0.2px rgb(84, 169, 238);
    transition: all ease-in-out 0.3s;
}
#delete-task-button{
    height:3.1rem;
    width: 10rem;
    margin: 2rem;
    position: fixed;
    left: 49%;
    bottom: 51.3%;
    border: none;
    background-color: #EE351E;
    border-radius: 0.15rem;
    color: white;
    font-size: 1rem;
}
#delete-task-button:hover{
    cursor: pointer;
    transform: scale(1.01);
    border: 1px solid darkred;
    box-shadow: 0px 0px 3px 0.2px rgb(84, 169, 238);
    transition: all ease-in-out 0.3s;
}
#card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1.5px solid lightgray;
    padding: 0.5rem 0rem;
}
#checkbox-button{
    cursor: default;
}
#card input{
    cursor: pointer;
    position: relative;
    top: 30%;
}
#card-info{
    position: relative;
    left: 5%;
    line-height: 0.5rem;
    margin: 0.5rem 0rem;
}
#card-info h3{
    font-size: 1rem;
}
#card-info p{
    color: #BFC1C2;
    font-family: sans-serif;
    font-size: 0.9rem;
}
.card-button{
    position: relative;
    height: 2.5rem;
    width: 7rem;
    margin-top: -1rem;
    color: white;
    background-color: steelblue;
    border: none;
    border-radius: 0.2rem;
    font-size: 1rem;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-button:hover{
    cursor: default;
    transform: scale(1.01);
    box-shadow: 0px 0px 3px 0.5px rgb(84, 169, 238);
    transition: all ease-in-out 0.3s;
}